
.wrapper {
    width: calc(100% - 250px);
    
    transition: all 0.3s;
    position: absolute;
    top: 56px;
    right: 0;

    padding: 40px;
    /* min-height: calc(100vh - 3px); */
    display: flex;
    flex-grow: 1;
}

body{
    min-height: 100vh;
    /* background-color: #212529; */
}